
body, html {
  margin:0px;
  padding:0px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 13px;
  font-weight: 100;
}

#main {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  
}

#connect{
  color:lawngreen;
}
